<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="users/register/vk">
    <input type="submit" value="Вконтакте">
</form>
<form action="users/register/twitter">
    <input type="submit" value="Twitter">
</form>
